<% include ../partials/header.ejs %>
<style>
    body {
    background-image: url(dark.jpg);
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    }
    .center {
        position: absolute;
    left: 450px;
    top: 200px
    }
    h4 {
        padding-left: 200px;
    }
    .container {
        padding-left:250px;
    }
</style>
<div class="center">
<h1>This secret will blow your mind<br>No seriously it really will</h1>
<h4>Are you sure you wish to proceed?</h4>
<div class="container">
<a href="/haha"><button class="ui inverted red button">YES</button></a>
<a href="/logout"><button class="ui inverted red button">NO</button></a>
</div>
</div>

<% include ../partials/footer.ejs %>
